
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}


nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #444; 
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff; 
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: #fff; 
    border-radius: 8px;
}

h1 {
    color: #61ffff;
}

h2 {
    color: #333; 
}


footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}


ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}
